


.row {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    border-bottom:  1px solid #EAEAEA;
    margin-top: 10px;
}





.profileImg {
    width: 200px;
    padding: 7px;
 
}

.profileImg > img {
    width: 100px;
    
}

.name {
    align-self: center;
}





